<ion-view view-title="编辑项目">
    <ion-content>
        <h1>编辑项目</h1>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">项目名称</span>
                <input type="text" placeholder="Name">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">项目代码</span>
                <input type="text" placeholder="Code">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">详细描述</span>
                <textarea placeholder="Description" rows="3"></textarea>
            </label>
            <button class="button button-full button-positive">
                保存
            </button>
        </div>
    </ion-content>
</ion-view>
