<ion-view view-title="添加任务">
    <ion-content>
        <h1>添加任务</h1>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">名称</span>
                <input type="text" placeholder="John">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">详细描述</span>
                <textarea placeholder="Comments" rows="3"></textarea>
            </label>
            <button class="button button-full button-positive">
                保存
            </button>
        </div>
    </ion-content>
</ion-view>
